.card-container{
    background-color: #fff;
    width: 200px;
    /* box-shadow:  20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff; */
    border-radius: 10px;
    display: inline-block;
    margin: 70px;  
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}
.card-container:hover {
    transform: scale(1.05);
  }
  
.monster-img{
    margin-top: 10px;
    background-color: #E8E8E8;
}